<!-- Registration -->
<script type="text/javascript">
  RED.nodes.registerType('${nodeName}',{
      category: '${pkgDescription}',     // Palette category
      defaults: {             // Editable properties
        name: {value:""}
      },
      inputs: 1,
      outputs: 1,

      // Use a stock icon https://nodered.org/docs/creating-nodes/appearance#stock-icons
      // or reference another package icon 'node-red/redis.png', 'node-red-suncalc/sun.png',
      // or a font-awesome font 'font-awesome/fa-area-chart',
      // or create an icon using the style guide and place it under lib/icons
      icon: 'iot-edge.png',

      // Style guide suggests choosing a color among the following
      // https://nodered.org/docs/creating-nodes/appearance#background-colour
      color: '#C7E9C0',

      // Style guide says align:right if it's input-only (last in a flow)
      // https://nodered.org/docs/creating-nodes/appearance#alignment
      align: 'left',

      // Label style guide: https://nodered.org/docs/creating-nodes/appearance#labels
      label: function() {
        return this.name || '${nodeName}';
      },
      paletteLabel: function() {
        return '${nodeName}';
      },
      labelStyle: function() {
        return this.name ? "node_label_italic" : "";
      },

  });
</script>

<!-- Properties Editor -->
<script type="text/x-red" data-template-name="${nodeName}">
<div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="${description}">
</div>
</script>

<!-- Help Text -->
<script type="text/x-red" data-help-name="${nodeName}">
 <h3>${description}</h3>
 <hr/>
 <p>
   This node ...
 </p>
</script>